

<div class="content" on-scroll="$ctrl.moretweets()">
    <div class="header">
            <div class="header-text"> 
                <h1 class="title">#NowPlaying App</h1>
                <h3 class="subtitle">Recent videos being shared on Twitter.</h3>
            </div>
            
            <div class="search ">
                <input id="newpost" type="text"  ng-model="$ctrl.mytweet" placeholder="New Tweet">
                <button class="btntwt"                   
                    ng-click="$ctrl.newtweet($ctrl.mytweet)">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
    </div>
    <div class="body">
        <!-- Note: Tweet IDs should be represented as strings in order to maintain precision -->
        <div ng-repeat="tweet in $ctrl.collection | orderBy : '-created_at' track by $index">
            <twitter-widget twitter-widget-id="tweet.id_str" class="twtwidget"></twitter-widget>
        </div>
    </div>
</div>